@media screen and (max-width: 890px) {
    .nav {margin-right: 100px;}
    .aboutbox img {height: 290px;}
    .subtxt {padding: 20px 120px; }
}
@media screen and (max-width: 768px) {
    .slide_group1 .slidetext p {font-size: 21px;}
    .slide_group1 .slidetext h2 {font-size: 36px}
    #article3 {height: 270px;}
    .aboutbox img {height: 260px;}
    #article3 h3 {font-size: 18px;}
    #article3 p {font-size: 20px;}
    #article3 button {padding: 10px 30px; font-size: 14px;}
    .root_daum_roughmap {height: 310px}
    .subtxt h2 {font-size: 22px;}
    .subtxt {padding: 20px 100px; }
    .roomlist {font-size: 17px;}
    .slide_group2 .prev {left: 12px}
    .slide_group2 .next {right: 12px}

}
@media screen and (max-width: 600px) {
    .root_daum_roughmap {height: 270px}
}
